<div class="row">
    <div class="col-sm-6">
        <%= form_for(@event, format: :pdf) do |f| %>
          <% if @event.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(@event.errors.count, "error") %> prohibited this employee from being saved:</h2>
    
                <ul>
                    <% @event.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
          <% end %>
  
          <div class="field">
              <%= f.label :invoice_date %><br>
              <%= f.date_select :invoice_date %>
          </div>
          <div class="field">
              <%= f.label :category %><br>
              <%= f.radio_button :category, "bill", checked: true %> Bill
              <%#= f.radio_button :category, "quotation" %><!-- Quotation -->
          </div>
          <div class="field">
              <%= f.label :bill_to_name %><br>
              <%= f.text_field :bill_to_name %>
          </div>
          <div class="field">
              <%= f.label :bill_to_address %><br>
              <%= f.text_field :bill_to_address %>
          </div>
          <div class="field">
              <%= f.label :particulars %> <span class='help-label'>use () to create sub-categories</span><br>
              <%= f.fields_for :particulars do |d| %>
                <div id="particulars_input_container">
                    <div>
                        <%=  d.text_field "" %>
                        <%=  d.text_field "" %>
                    </div>
                </div>
                <a href="javascript:void(0);" onclick="addInput('particulars_input_container')"> Add Particulars</a>
    
              <% end %>
          </div>
          <div class="field">
              <%= f.label :tax %><br>
              <% TAX_INPUT.each do |tax_value| %>
                <p><%= check_box_tag "event[tax][]", tax_value %><%= tax_value %></p>
              <% end %>
  
          </div>
  
          <div class="actions">
              <%= f.submit "Create Invoice"%>
          </div>
        <% end %>
    </div>
    <div class="col-sm-6">
        <%= form_for(@invoice, remote: true) do |f| %>
          <div class="field">
              <%= label_tag "Enter the total amount:" %><br>
              <%= text_field_tag "total_amount" %>
          </div>
          <% TAX_INPUT.each do |tax_value| %>
            <p><%= check_box_tag "event[tax][]", tax_value, checked: true %><%= tax_value %></p>
          <% end %>
          <div class="actions">
              <%= f.submit "Show break up details"%>
          </div>
        <% end %>
        <div id="break_up_invoice_container"></div>
    </div>
</div>
            





<script type="text/javascript">
  function addInput(id) {
      var inputIdentifier = id.split("_")[0];
      var html = "<div><input name='event[" + inputIdentifier + "][]' id='event_" + inputIdentifier + "_' type='text'> " +
              "<input name='event[" + inputIdentifier + "][]' id='event_" + inputIdentifier + "_' type='text'>" +
              "<a href='javascript:void(0);' onclick='javascript:removeMe(this);'><img src='remove-icon.jpg'></a></div>";
      $("#" + id).append(html);
  }

  function removeMe(item) {
      $(item).parent();
      $(item).parent().remove();
  }
</script>
